.container{
    height: 857px;
    width: 1778px;
    position: relative;
    right: 8px;
}
.text-logo{
    color: #1890ff;
}
.top{
    display: flex;
    position: relative;
    bottom: 8px;
}
.hover-ul{
    padding-inline-start: 0px;
}
.side-bar{
    width: 16%;
    display: flex;
    background-color: white;
    color: black;
    height: 102%;
    position: relative;
    bottom: 8px;
    z-index: 1;
}
.content{
    display: flex;
    height: 803px;
    width: 105%;

}

.sub-menu{
    position: relative;
    left: 144px;
    top: 18px;
}
button{
    border: none;

}

.hover-ul .item{
    display: flex;
}
.icon_sb{
    position: relative;
    top: 18px;

}
.icon{
    position: relative;
    top: 16px;
    left: 20px;
}
.logo{
    display: flex;
    background-color: white;
    color: black;

}
.img-logo{
    width: 34%;
}
.img-logo .logo-svg{
    width: 41%;
    position: relative;
    left: 53%;
    top: 12px;
}
/*Side-bar */
.list{
    width: 100%;
    /*margin-left: 13px;*/
}
.new-list-1{
    padding-bottom: 10px;
    width: 100%;
}
.new-list-2{
    padding-bottom: 10px;
}
.center{
    width: 88%;
    box-shadow: inset 20px 19px 20px 11px rgb(0 0 0 / 11%);
    height: 102%;
}

/*.side-bar{*/
#icon-down{
    position: relative;
    top: 21px;
    left: 157px;
}
/*    box-shadow: 5px 0px 10px 0px rgba(0,0,0,0.21);*/
/*    height: 796px;*/
/*    width: 16%;*/
/*    clear: both;*/
/*    position: absolute;*/
/*    top: 70px;*/
/*    right: 84.3%;*/
/*}*/
.side-bar .list ul li{
    list-style-type: none;
    /*padding-top: 7%;*/
    /*padding-bottom: 7%;*/
}

/*.icon{*/
/*    top: 20px;*/
/*    right: 28px;*/
/*    position: relative;*/
/*}*/
#sub{
    padding-top: 5%;
}
.side-bar #sub ul li{
    padding-top: 5%;
    padding-bottom: 5%;
}
.sub-list-1{
    opacity: 0;
}
.list-3{
    position: relative;
    z-index: 0;
    background-color: rgba(24, 144, 255, 0);
    /*background-color: rgba(255, 255, 255, 0);*/
    width: 5.5%;
    height: 68px;
    bottom: 593px;
}
.hover-list-3  li:hover{
    color: #1890ff;
}
/*.darkmode-hover-list-3:hover{*/
/*    color: white;*/
/*}*/
.darkmode-hover-list-3  li:hover{
    color: white;
}
.show-list-3{
    z-index: 2;
}
.show-sub-list{
    opacity: 1;
}
.hide-side-bar{
    opacity: 0;

}
.side-bar .item:hover{
    color: #1890ff;
}
.sub-list-2{
    position: relative;
    display: none;

}
.show-new-list-2{
    opacity: 1;
}

/*Toogle button*/
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}
.btn-toggle{
    position: relative;
    left: 225px;
    top: 437px;
}
/*Darkmode*/


.logodark{
    background-color: black;
    width: 16.2%;
    color: white;
}
.darkmode .item:hover{
    color: white;
}
.logo-darkmode{
    width: 5.4%;
    height: 50px;
}
.logo-img-darkmode{
    width: 87px;
    right: 10px;
    top: 3px;
}
.darkmode .sub-containor-level-2:hover{
    color: white;
}
.darkmode .sub-list-1 .sub-list-2 .sub-li:hover{
    color: white;
}

/*menu level 3*/
.darkmode #level-2:hover{
    color: white;
}
/*menu level 2 */
.sub-containor{
    width: 100%;
    /*height: 118px;*/
}
.show{
    opacity: 1;
}

.hide{
    opacity: 0;
}
/*.sub-containor:hover{*/
/*    color: #1890ff;*/
/*}*/
.sub-containor-level-2:hover{
    color: #1890ff;
}
/*menu level 3*/
#level-2:hover{
    color: #1890ff;
}
.ml-3-new-list-2{
    position: relative;
    top: 12px;
}
.ml-3-new-list-3{
    position: relative;
    top: 18px;
}
.ml-3-sub-list-2{
    position: relative;
    display: block;
    top: 12px;

}

/*Active*/
.active{
    color: #148effeb;
    background-color: rgb(20 142 255 / 17%);
    border-right: 2px solid dodgerblue;
}
.new-active{
    color: #ffffff;
    background-color: rgb(20 142 255 / 17%);
    border-right: 2px solid dodgerblue;
}
/*new menu*/
.newsb-text-logo{
    display: none;
}
.newsb-img-logo{
    position: relative;
    right: 21px;
    bottom: 8px;
    width: 64%;
    /*left: 3px;*/
}
.newsb-side-bar{
    width: 5%;
}
.newsb-side-bar:hover{
    opacity: 1;
}
.newsb-iconify{
    width: 100%;
}
.newsb-list-item{
    padding-bottom: 52%;
}
.newsb-text-menu{
    display: none;
}
.show-sub-containor{
    width: 100%;
    height: 118px;
}
.sub-list-2 ul li:hover{
    color: #1890ff;
}
.new-icon_sb{
    width: 100%;
}
.hide-sub-menu{
  display: none;
}
.hide-btn-toogle{
    display: none;
}
.new-list{
    width: 100%;
    margin-left: 1px;
}
.new-icon{
    position: relative;
    /*right: 28px;*/
    left: -45px;
}
/*sub-list-3*/
.sl-new-list-4{
    list-style-type: none;
}
.sub-list-3{
    position: relative;
    top: 209px;
    display: none;
    background-color: rgb(255, 255, 255);
    border: 1px solid white;
    width: 166px;
    color: black;
}
.show-sub-list-3{
    display: block;
}




.black{}
.emty{}


.img-dark{
    left: 6px;
}
.icon-dark{
    left: 18px;
}
.abc{
    width: 173px;
    position: relative;
    left: 95px;
    bottom: 60px;
    background-color: white;
}

.hover-sub-list-3{
    opacity: 1;
}

.darkmode {
    background-color: black;
    color: #ffffff8a;
}
.new-btn-toggle{
    top: 372px;
}